body {
	font-family: 'Josefin Slab';
	font-size: 20px;
}

#sitedata {
	padding:5px;
	max-width: 400px;
    margin: auto;
    border: 1px solid black;
}

img {
	padding: 5px;
}

#credits {
	font-size: 15px;
}

.button {
  margin: 4px;
}

#dataUpdated {
	font-size: 15px;
}

a, a:hover, a:focus, a:visited {color: #0000EE}

#credits {
	text-align: center;
}
